.inputFilter {
    width: 100%;
    font-size: 20px;
}

.filters{
    width: calc(50% - 90px);
    float: left;
    padding: 0px 10px;
    padding-top: 10px
}

.clearFilter {
    float:right;
}

@media(max-width:550px) {
    .filters{
        width: 100%;
    }

    .inputFilter {
        width: 80%;
        margin-left: 5%;
    }

    .clearFilter {
        margin-right: 8%;
    }
}